html,body {
    height:100%;
}body.admin { background-color: #eee; }

.tabs-top > .nav-tabs { margin-bottom: 24px; }

.page-header {
  margin: 0 0 21px;
  padding-bottom: 18px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.twitter-typeahead {
  width: 100%;
}
.tt-dropdown-menu {
  width:100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 6px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.tt-suggestion > p {
  display: block;
  padding: 6px 12px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.staff-name > small { display: block }

.staff-search {
  padding: 2px;
  margin-right: 6px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
input.search-query,  {
    padding-left:26px;
}
form.navbar-form {
    position: relative;
}
form.navbar-form:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:24px;
    opacity: .5;
    z-index: 1000;
}
.navbar-form input[type="text"] {
  width: 100%;
  padding-left:26px;
}

.branch-prefetch > .twitter-typeahead > .tt-hint,
.sector-prefetch > .twitter-typeahead> .tt-hint,
.unit-prefetch > .twitter-typeahead > .tt-hint { visibility: hidden; }

.divisions .alert a, .divisions .alert .alert-link {
    text-decoration: none;
}

.divisions .alert a:hover {
    text-decoration: underline;
}
.navbar h1 {
    font-size: 19px;
    height: 45px;
    line-height: 21px;
    padding: 0;
    margin: 0;
}

.divisions > .well {
    background: none repeat scroll 0 0 rgba(232, 232, 232, 0.3);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.divisions > .well:hover {
    background: none repeat scroll 0 0 rgba(232, 232, 232, 0.5);
}

@media(min-width:992px) {

    .divisions > .well > p { font-size: 12px; }
    .row-flex, .row-flex > div[class*='col-'] {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }

    .row-flex-wrap {
        -webkit-flex-flow: row wrap;
        align-content: flex-start;
        flex:0;
    }
}

.ir {
    background-image:url('myImage.jpg');
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
}

/* STAFF */
.staff h1 em {
    display: block;
    color: #6F6F6F;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.4;
}

.text-center > p > em {
  display: block;
  margin-top: 8px;
}

.meta { padding-top: 20px; }
/*
.meta .dl-horizontal dd {margin-left: 0;}
.meta .dl-horizontal dt, .meta .dl-horizontal dd { border-bottom: 1px solid #DDDDDD; padding: 10px 15px; }
.meta .dl-horizontal dd i { padding-right: 2px; }
*/
@media(min-width:767px) {
    .star-rating {
        text-align: center
    }
}

ul.list-unstyled > li:nth-child(4n+1) {
    display: block;
    margin-left: 0px;
}
.popover{
    width:300px;
    max-width:600px;
}

.sidebar >
.list-group >
.list-group-item >
img.media-object { margin-right: 4px ;}
